.form{
    position: absolute;
    left: 50em;
    top: -30em;
}
.container3{
    position: absolute;
}
.box{
    background-color: yellow;
    position: absolute;
    width: 100%;
    opacity: 0.1;
}
.foto{
    position: absolute;
    top: 110em;
    left: 35em;

}
.garis2{

    background-color:  yellow;
    height: 500px;
    width: 100%;
    position: absolute;
    top: 103.1rem;
    z-index: -2;
    opacity: 0.1;
}
.acuangaris2{
    position: absolute;
}