.menu1 {
    background-color:  #838383;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
    position: fixed;
    width: 100%;
    opacity: 0.6;
}
 
.mainmenubtn:hover {
    background-color: #595b83;
    }
 
.menu {
    position: relative;
    display: inline-block;
}
.menu {
    display: none;
    background-color: black;
    min-width: 200px;
}
.menu a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.menu1:hover .menu {
    display: block;
}
.background-menu{
    position: fixed;
    bottom: 42rem;
    z-index: 5;
}
.logo{
    position: fixed;
    left: 78rem;
    bottom: 37rem;
    z-index: 5;
}
.tulisan-logo{
    position: fixed;
    left: 72rem;
    bottom: 37rem;
    z-index: 5;
}